* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #16181a;
}

#header,
#footer {
  text-align: center;
  line-height: 50px;
  color: white;
}

#header {
  text-align-last: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #282a2b, #2d3030);
  position: fixed;
  width: 1000px;
  left: 10%;
  right: 10%;
}

#header > a {
  float: right;
  font-style: oblique;
  text-decoration: none;
  color: white;
  height: 50px;
  text-transform: uppercase;
  padding: 0px 20px;
  margin: AUTO;
}

#header > a:hover {
  font-weight: bold;
  background: linear-gradient(to top, #515658, #2d3030);
  color: white;
}

#media {
  width: 100%;
  height: auto;
  margin: AUTO;
}

#media > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
