* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  background-color: #16181a;
}

#header,
#footer {
  text-align: center;
  line-height: 50px;
  color: white;
}

#header {
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #282a2b, #2d3030);
  position: fixed;
  left: 15%;

  width: 70%;
}

#header > a {
  float: right;
  font-style: oblique;
  overflow: hidden;

  text-decoration: none;
  color: white;
  height: 50px;
  text-transform: uppercase;
  padding: 0px 20px;
  margin: AUTO;
}

#header > a:hover {
  font-weight: bold;
  background: linear-gradient(to top, #515658, #2d3030);
  color: white;
}

#footer {
  background: linear-gradient(to bottom, #282a2b, #2d3030);
  text-decoration: none;
  font-size: 11px;
  height: auto;
  line-height: 30px;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  clear: left;
}

#media {
  width: 100%;
  height: auto;
  margin: AUTO;
}

#media > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#content {
  background-color: white;
  margin: auto;
  padding: 5px 5px;
  display: flex;
  text-align: center;
  text-justify: auto;
  font-weight: bold;
}

#content > div {
  margin: 30px;
}

#SocialM {
  display: flex;
  text-align: center;
  width: 100%;
  margin: auto;
}

#fb {
  width: 50%;
  overflow: hidden;
}
#insta {
  width: 50%;
  float: left;
}

#SocialM > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
